html {
  min-height: 150;
  min-width: 150;
}
body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: rgb(255, 255, 255);
}

#heartsButton {
  border: none;
  padding: 10px;
  padding-right: 13px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 4em;
  font-weight: 900;
  /* transform: rotate(0.75turn); */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  color: red;
  opacity: 0.7;
  border-right: 3px solid rgb(208, 208, 208);
}

#ptriButton {
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 2em;
  font-weight: 750;
  /* transform: rotate(0.75turn); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(9, 33, 168);
  opacity: 0.7;
  /* border: 5px solid black;
  border-left: 3px solid black; */
}
